# Database
DATABASE_URL=postgresql://user:password@host:port/dbname
DIRECT_URL=postgresql://user:password@host:port/dbname

# Server
HOST=0.0.0.0
PORT=4000
JWT_SECRET=yoursecretkey
NODE_ENV=development
